html {height: 100%; width: 100%;}

body {
  height: 100%;
  width: 100%;
  --bgColor: grey;
  background-color: var(--bgColor);
  --displayStyle: block;
  --displayStyle90s: none;
}

.container {
  width: 75%; 
  margin: 30px auto; 
  text-align: center;
  display: var(--displayStyle);
}

h1 {font-size: 36px; font-family: 'hardpixelregular';}
h2 {font-size: 28px; font-family: 'hardpixelregular'; margin-bottom: 15px;}

.section {
  background: white;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
  border-radius: 5px;
  margin: 25px 0;
  padding: 10px;
  font-family: 'lcd_solidregular';
}

/**/
#projects .projects_container{
  display: flex;
  justify-content: space-evenly;
}

#projects .proj {
  display: inline-block;
}

/**/
#interests img {max-width: 30%;}

/* 90s Specific Styles */

body.nineties {
  --bgColor: pink;
  --displayStyle90s: block;
}

.container.nineties {
  display: var(--displayStyle90s);
  background: blue;
}