html {height: 100%; width: 100%;}

body {
  height: 100%;
  width: 100%;
  --bgImage: url('../images/clouds.jpg');
  background-image: var(--bgImage);
  --displayStyle: block;
  --displayStyle90s: none;
}

.container {
  width: 75%; 
  margin: 30px auto; 
  text-align: center;
  display: var(--displayStyle);
}

h1 {font-size: 36px; font-family: 'hardpixelregular';}
h2 {font-size: 28px; font-family: 'hardpixelregular'; margin-bottom: 15px;}

.section {
  background: white;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
  border-radius: 5px;
  margin: 25px 0;
  padding: 10px;
  font-family: 'lcd_solidregular';
}

/**/
#projects .projects_container{
  display: flex;
  justify-content: space-evenly;
}

#projects .proj {
  display: inline-block;
}

#projects .proj img {
  max-width: 100%;
}

/* interests */

#interests .favoritethingsticker {
  font-size: 20px;
  margin-bottom: 15px;
}

#interests li {
  list-style: none;
  display: inline-block;
  cursor: pointer;
  font-size: 36px;
}

#bio p {
  text-align: left;
  margin-bottom: 1em;
}

/* 90s Specific Styles */

body.nineties {
  --bgImage: none;
  --displayStyle90s: block;
}

.container.nineties {
  display: var(--displayStyle90s);
  background: blue;
}