html {height: 100%; width: 100%;}

body {
  height: 100%;
  width: 100%;
  --bgColor: grey;
  background-color: var(--bgColor);
}

body.wacky {
  --bgColor: pink;
}

.container {
  width: 75%; 
  margin: 30px auto; 
  text-align: center;
}

h1{font-size: 36px;}
h2{font-size: 28px;}

.section {
  background: white;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
  border-radius: 5px;
  margin: 25px 0;
  padding: 10px;
}

#interests img {max-width: 30%;}