<div class="container nineties">
  <h1>This is my site!1!1!</h1>

  <div id="projects" class="section">
    <h2>Projectos</h2>

    <div class="proj">
      <a href="https://github.com/jvvlee/twitch-plays-wokemon">
        MRS SCHEIN IS A FUCKING BITCH
      </a>
    </div>

    <div class="proj">
      <a href="https://github.com/jvvlee/NotesApplication">
        No one wants to date Ricky Buhr's ugly ass
      </a>
    </div>

    <div class="proj">
      <a href="">
        Your mom
      </a>
    </div>
  </div>

  <div id="interests" class="section">
    <h2>Interest0s</h2>

    <div class="favoritethings">
      <img src="https://upload.wikimedia.org/wikipedia/en/1/11/Newgrounds.jpg">
      <img src="http://llights.net/wp-content/uploads/2017/01/NO_School_flat.png">
      <img src="http://i0.kym-cdn.com/entries/icons/original/000/013/391/3658935-samurai_jack.jpg">
    </div>
  </div>

  <div id="bio" class="section">
    <h2>B10GR4PHY</h2>

    <p>hi every1 im new!!!!!!! holds up spork my name is katy but u can call me t3h PeNgU1N oF d00m!!!!!!!! lol…as u can see im very random!!!! thats why i came here, 2 meet random ppl like me _… im 13 years old (im mature 4 my age tho!!) i like 2 watch invader zim w/ my girlfreind (im bi if u dont like it deal w/it) its our favorite tv show!!! bcuz its SOOOO random!!!! shes random 2 of course but i want 2 meet more random ppl =) like they say the more the merrier!!!! lol…neways i hope 2 make alot of freinds here so give me lots of commentses!!!! DOOOOOMMMM!!!!!!!!!!!!!!!! <--- me bein random again _^ hehe…toodles!!!!!</p>
  </div>
</div>