<div class="container nineties">
  <h1>This is my site!1!1!</h1>

	<div id="projects" class="section">
		<div class="projects_container">
			<% data.quizzes.quizzes.each do |pair| %>
        <% img, link = pair.first%>
				<div class="proj">
					<a href="<%= link %>">
						<img src="<%= '../images/' + img + '.jpg' %>">
					</a>
				</div>
			<% end %>
		</div>
	</div>

  <div id="bloggy" class="section">
    <h2>Current Mood</h2>

    <div class="favoritethings">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/WCdJY_XHmtY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>

    <div class="current_mood">
      Feeling: Heroic <img src="../images/nerdy.gif" class="classic_emoji">
    </div>
  </div>

  <div id="bio" class="section">
    <h2>B10GR4PHY</h2>

    <p>hi every1 im new!!!!!!! holds up spork my name is katy but u can call me t3h PeNgU1N oF d00m!!!!!!!! lol…as u can see im very random!!!! thats why i came here, 2 meet random ppl like me _… im 13 years old (im mature 4 my age tho!!) i like 2 watch invader zim w/ my girlfreind (im bi if u dont like it deal w/it) its our favorite tv show!!! bcuz its SOOOO random!!!! shes random 2 of course but i want 2 meet more random ppl =) like they say the more the merrier!!!! lol…neways i hope 2 make alot of freinds here so give me lots of commentses!!!! DOOOOOMMMM!!!!!!!!!!!!!!!! <--- me bein random again _^ hehe…toodles!!!!!</p>
  </div>
</div>