<div class="container">
	<h1>This is my site!</h1>

	<div id="projects" class="section">
		<h2>Projects</h2>

		<div class="projects_container">
			<div class="proj">
				<a href="https://github.com/jvvlee/twitch-plays-wokemon">
					Twitch Plays Pokemon Clone
				</a>
			</div>

			<div class="proj">
				<a href="https://github.com/jvvlee/NotesApplication">
					Notes App in React.js
				</a>
			</div>

			<div class="proj">
				<a href="">
					Some third thing I haven't decided, maybe the joint thing with Scott.
				</a>
			</div>
		</div>
	</div>

	<div id="interests" class="section">
		<h2>Interests</h2>

		<div class="favoritethingsticker"></div>

		<div class="favoritethings">
			<% data.interests.interests.each do |pair| %>
				<% key, value = pair.first%>
				<li onClick="interestsTicker(this)" class="interest" data-text="<%= key %>"><%= value %></li>
			<% end %>
		</div>
	</div>

	<div id="bio" class="section">
		<h2>Biography</h2>

		<p>I like dogs, and sleeping in. Sometimes I'll go on ridiculously long walks. I used to like science a lot more but then life happened, so I just code things to try and impress people.</p>
	</div>
</div>

<%= partial "90s" %>

<button onClick="change()">YOINK</button>
