<!DOCTYPE HTML>
<!--
	Miniport by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Jonathan Lee</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!-- <script src="js/jquery.min.js"></script> -->
		<script src="javascripts/init.js"></script>
		<!-- <link rel="stylesheet" href="css/bootstrap.css" /> -->
		<!-- <link rel="stylesheet" href="css/bootstrap-responsive.css" /> -->
		<link rel="stylesheet" href="stylesheets/reset.css" />
		<link rel="stylesheet" href="stylesheets/style.css" />
	</head>
	<body>

		<div class="container">
			<h1>This is my site!</h1>

			<div id="projects" class="section">
				<h2>Projects</h2>

				<div class="proj">
					<a href="https://github.com/jvvlee/twitch-plays-wokemon">
						Twitch Plays Pokemon Clone
					</a>
				</div>

				<div class="proj">
					<a href="https://github.com/jvvlee/NotesApplication">
						Notes App in React.js
					</a>
				</div>

				<div class="proj">
					<a href="">
						Some third thing I haven't decided, maybe the joint thing with Scott.
					</a>
				</div>
			</div>

			<div id="interests" class="section">
				<h2>Interests</h2>

				<div class="favoritethings">
					<img src="https://i.redd.it/0c9faw5ewz0y.jpg">
					<img src="https://pbs.twimg.com/profile_images/921546127945748481/jLWUM1D2_400x400.jpg">
					<img src="http://i0.kym-cdn.com/entries/icons/original/000/019/241/enhanced-26298-1432220843-2.jpg">
				</div>
			</div>

			<div id="bio" class="section">
				<h2>Biography</h2>

				<p>I like dogs, and sleeping in. Sometimes I'll go on ridiculously long walks. I used to like science a lot more but then life happened, so I just code things to try and impress people.</p>
			</div>
		</div>

		<button onClick="change()">YOINK</button>

	</body>
</html>
