<%= partial "modern" %>

<%= partial "90s" %>

<div class="button-container">
	<a onClick="change()" class="button">
		<span>
			Click here to go back in time.
		</span>

		<span class="nineties">
			Back to the future.
		</span>
	</a>
</div>
